<main>
    <article class="principal-container">
        <article class="form-container">
            <section
                style="width:97%;border-radius:12px;background-color:white;border:2px solid silver;padding:30px 30px;position: absolute; top:50%;left:50%;transform: translate(-50%,-50%);">
                <header>
                    <h3 class="principal-title">Nuevo password:</h3>
                    <hr>

                </header>
                <form [formGroup]="formNewPassword" (ngSubmit)="onSubmit()">
                    <input class="input" type="password" id="password1" name="email" placeholder="Password"
                        formControlName="password1" />
                    <input class="input" type="password" id="password2" name="email" placeholder="Confirmar Password"
                        formControlName="password2" />

                    <app-my-btn-primary textoBoton="ENVIAR"></app-my-btn-primary>

                </form>
                <div class="row">
                    <div class="col-12 ">
                        <hr>
                        <div *ngIf="mensajeSuccess" class="alert alert-success alert-dismissible" role="alert">
                            <pre>{{mensaje}}</pre>
                            <a [routerLink]="['/login']">Regresar</a>
                        </div>
                        <div *ngIf="mensajeError" class="alert alert-danger alert-dismissible" role="alert">
                             <!-- <div *ngFor="let mensajeError of mensajeErrors">
                                <p>{{mensajeError[0].msg}}</p>
                            </div> -->
                            <p>{{mensajeErrors}}</p>
                        </div>
                    </div>
                </div>
            </section>

        </article>
    </article>
</main>