#map {
    width: 100vw;
    height: 100vh
}

.marker {
    background-image: url('../../../assets/iconbus.svg');
    background-size: cover;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    cursor: pointer;
    background-color: red !important
}


.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}